.button {
    background-color: #333333;
    color: $color-white;
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 2px;

    &:visited {
        color: $color-white;
    }
}