.contact {
    background-color: transparent;
    background-image: linear-gradient(180deg, #504dd3 0%, #3c39a7 100%);
    padding: 70px 0 100px;
    color: $color-white;

    @include max-screen($breakpoint-mobile) {
        padding: 50px 0;;
    }
}

.contact-title {
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.03em;
}

.contact-form {
    margin: 0 -10px;

    .row {
        align-items: flex-end;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: bold;
    }

    .required {
        color: #790000;
    }

    input,
    textarea {
        border-radius: 0;
        width: 100%;
        padding: 5px;
        background-color: $color-white;
        outline: none;
    }

    input[type=checkbox] {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    span {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }

    button {
        background-color: #1779ba;
        color: $color-white;
        display: inline-block;
        padding: 15px 25px;
        border: 0;
        border-radius: 0;

        @include max-screen($breakpoint-mobile) {
            width: 100%;
            padding: 20px 25px;
        }
    }
}

.contact-form-item {
    margin-top: 30px;
    padding: 0 10px;
}