.footer {
    padding: 30px 0;
    background-color: transparent;
    background-image: linear-gradient(180deg, #2a2a2a 0%, #161616 100%);
    color: $color-white;
}

.footer-upper-content {
    text-align: center;

    h4 {
        color: $color-white;
        font-size: 24px;
    }

    a {
        color: $color-white;
        margin-top: 20px;
        display: block;
        font-size: 16px;
    }
}

a.footer-upper-sns {
    padding: 10px 12px;
    display: inline-block;
    background-color: $color-white;
    font-size: 15px;
    border-radius: 3px;
    display: inline-block;
    color: $color-black;

    .fab {
        display: block;
        font-size: 16px;
        color: $color-black;
    }
}

.footer-lower {
    text-align: center;
    display: block;
    font-size: 13px;

    &:not(:last-of-type) {
        margin-top: 50px;
    }
}