.l-page {}

.l-page-hero {
    height: 25vh;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
        margin-top: -10vh;
        font-size: 30px;
        color: #fff;
    }
}

.l-page-inner {
    position: relative;
    width: calc(100% - 200px);
    margin: -100px auto 0;
    background-color: #fff;
    height: calc(100vh - 180px);
    box-shadow: 0px 0px 24px 0px rgba(38, 61, 91, 0.13);
}